@media (max-width: 480px) {
    *{
        margin: 0;
        padding: 0;
        box-sizing: border-box;
        margin-left:2px;
    }
    
    body{
        font-family: 'Poppins', sans-serif;
        line-height: 1.7;
        background-size: cover;
        background-image: url("back.jpg");
        overflow: scroll;
        background-repeat: no-repeat;
    }
    
    html, body {
        height: 100%;
        display: flex;
        flex-direction: column;
    }
    
        
    header{
        height: 45px;
        margin: 0;
        padding: 0;
        color: aqua;
        text-align: center;
        border-bottom: 3px solid hsl(332, 96%, 51%);
        border-radius: 15%;
        font-size: 25px;
        
    }
    header span{
        color: hsl(332, 96%, 51%) ;
    }
    h1{
        font-size: 25px;
    }
    span{
         font-size: 20px;
    }
    h1 , span li{
        list-style: none;
    }
    img{
        margin-top: 3%;
        margin-left: 1%;
        height: 20%;
    }
    footer {
        background: #222;
        color: aqua;
        text-align: center;
        padding: 10px;
        position: fixed;
        bottom: 0;
        left: 0;
        width: 100%;
        background-color: hsl(332, 96%, 51%);
    }
    ::-webkit-scrollbar {
        width: 10px;
    }
    ::-webkit-scrollbar-track {
        background: #f1f1f1;
    }
    ::-webkit-scrollbar-thumb {
        background: #888;
    }
    ::-webkit-scrollbar-thumb:hover {
        background: #555;
    }
    
    
    nav{
        display: flex;
        border-bottom: 2px solid rgb(11, 226, 255);
        border-radius: 15%;
        position: relative;
        width: 100%;
        
    }
    nav ul{
        margin-top:2%;
        margin-bottom: 5px;
        display: flex;
        list-style: none;
        
    }
    
    .link{
        text-decoration: none;
        padding: 0rem 0.1rem;
        font-size: 10px;
        font-weight: 600;
        color: #fefefe;
        position: relative;
        transition: color 0.25s;
        
    }
    
    .link:hover{
        color: black;
    }
    .link::after{
        position: absolute;
        content: "";
        inset: 0;
        background-color: #fefefe;
        scale: 1 0;
        z-index: -1;
        transition: 0.45s;
        border-radius:15% ;
    }
    .link:hover::after{
        scale: 1 1;
    }
    #d1{
        float: left;
    
    }
    

}
@media (min-width: 480.1px) and (max-width: 768px) {
    *{
        margin: 0;
        padding: 0;
        box-sizing: border-box;
        margin-left:2px;
    }
    
    body{
        font-family: 'Poppins', sans-serif;
        line-height: 1.7;
        background-size: cover;
        background-image: url("back.jpg");
        overflow: scroll;
        background-repeat: no-repeat;
    }
    
    html, body {
        height: 100%;
        display: flex;
        flex-direction: column;
    }
    
        
    header{
        height: 45px;
        margin: 0;
        padding: 0;
        color: aqua;
        text-align: center;
        border-bottom: 3px solid hsl(332, 96%, 51%);
        border-radius: 15%;
        font-size: 25px;
        
    }
    header span{
        color: hsl(332, 96%, 51%) ;
    }
    h1{
        font-size: 25px;
    }
    span{
         font-size: 20px;
    }
    h1 , span li{
        list-style: none;
    }
    img{
        margin-top: 3%;
        margin-left: 1.5%;
        height: 150%;
        width: 47%;
    }
    footer {
        background: #222;
        color: aqua;
        text-align: center;
        padding: 10px;
        position: fixed;
        bottom: 0;
        left: 0;
        width: 100%;
        background-color: hsl(332, 96%, 51%);
    }
    ::-webkit-scrollbar {
        width: 10px;
    }
    ::-webkit-scrollbar-track {
        background: #f1f1f1;
    }
    ::-webkit-scrollbar-thumb {
        background: #888;
    }
    ::-webkit-scrollbar-thumb:hover {
        background: #555;
    }
    
    
    nav{
        display: flex;
        border-bottom: 2px solid rgb(11, 226, 255);
        border-radius: 15%;
        position: relative;
        width: 100%;
        
    }
    nav ul{
        margin-top:2%;
        margin-bottom: 5px;
        display: flex;
        list-style: none;
        
    }
    
    .link{
        text-decoration: none;
        padding: 1rem 2.25rem;
        font-size: 14px;
        font-weight: 600;
        color: #fefefe;
        position: relative;
        transition: color 0.25s;
        
    }
    
    .link:hover{
        color: black;
    }
    .link::after{
        position: absolute;
        content: "";
        inset: 0;
        background-color: #fefefe;
        scale: 1 0;
        z-index: -1;
        transition: 0.45s;
        border-radius:15% ;
    }
    .link:hover::after{
        scale: 1 1;
    }
    #d1{
        float: left;
    
    }
}
@media (min-width: 768.1px) and (max-width: 1024px) {
    *{
        margin: 0;
        padding: 0;
        box-sizing: border-box;
        margin-left:2px;
    }
    
    body{
        font-family: 'Poppins', sans-serif;
        line-height: 1.7;
        background-size: cover;
        background-image: url("back.jpg");
        overflow: scroll;
        background-repeat: no-repeat;
    }
    
    html, body {
        height: 100%;
        display: flex;
        flex-direction: column;
    }
    
        
    header{
        height: 45px;
        margin: 0;
        padding: 0;
        color: aqua;
        text-align: center;
        border-bottom: 3px solid hsl(332, 96%, 51%);
        border-radius: 15%;
        font-size: 25px;
        
    }
    header span{
        color: hsl(332, 96%, 51%) ;
    }
    h1{
        font-size: 25px;
    }
    span{
         font-size: 20px;
    }
    h1 , span li{
        list-style: none;
    }
    img{
        margin-top: 3%;
        margin-left: 1.5%;
        height: 170%;
        width: 47%;
    }
    footer {
        background: #222;
        color: aqua;
        text-align: center;
        padding: 10px;
        position: fixed;
        bottom: 0;
        left: 0;
        width: 100%;
        background-color: hsl(332, 96%, 51%);
    }
    ::-webkit-scrollbar {
        width: 10px;
    }
    ::-webkit-scrollbar-track {
        background: #f1f1f1;
    }
    ::-webkit-scrollbar-thumb {
        background: #888;
    }
    ::-webkit-scrollbar-thumb:hover {
        background: #555;
    }
    
    
    nav{
        display: flex;
        border-bottom: 2px solid rgb(11, 226, 255);
        border-radius: 15%;
        position: relative;
        width: 100%;
        
    }
    nav ul{
        margin-top:2%;
        margin-bottom: 5px;
        display: flex;
        list-style: none;
        
    }
    
    .link{
        text-decoration: none;
        padding: 2rem 3.25rem;
        font-size: 17px;
        font-weight: 600;
        color: #fefefe;
        position: relative;
        transition: color 0.25s;
        
    }
    
    .link:hover{
        color: black;
    }
    .link::after{
        position: absolute;
        content: "";
        inset: 0;
        background-color: #fefefe;
        scale: 1 0;
        z-index: -1;
        transition: 0.45s;
        border-radius:15% ;
    }
    .link:hover::after{
        scale: 1 1;
    }
    #d1{
        float: left;
    
    }
}
@media (min-width: 1024.1px) {
    *{
        margin: 0;
        padding: 0;
        box-sizing: border-box;
    }
    body{
        font-family: 'Poppins', sans-serif;
        line-height: 1.7;
        background-size: cover;
        background-image: url("back.jpg");
        overflow: scroll;
        background-repeat: no-repeat;
    }
    
    html, body {
        height: 100%;
        display: flex;
        flex-direction: column;
    }
    
    
        
    header{
        color: aqua;
        text-align: center;
        border-bottom: 3px solid hsl(332, 96%, 51%);
        border-radius: 15%;
        font-size: 25px;
    }
    header span{
        color: hsl(332, 96%, 51%) ;
    }
    section{
        margin-left: 30%;
    }
    h1{
        font-size: 40px;
    }
    span{
         font-size: 20px;
    }
    h1 , span li{
        list-style: none;
    }
    img{
        margin-top: 2%;
        margin-left: 3.5%;
        height: 90%;
    }
    footer {
        background: #222;
        color: aqua;
        text-align: center;
        padding: 10px;
        position: fixed;
        bottom: 0;
        left: 0;
        width: 100%;
        background-color: hsl(332, 96%, 51%);
    }
    ::-webkit-scrollbar {
        width: 10px;
    }
    ::-webkit-scrollbar-track {
        background: #f1f1f1;
    }
    ::-webkit-scrollbar-thumb {
        background: #888;
    }
    ::-webkit-scrollbar-thumb:hover {
        background: #555;
    }
    
    
    nav{
        max-width: fit-content;
        display: flex;
        padding: 2% 3%;
        border-bottom: 2px solid rgb(11, 226, 255);
        border-radius: 15%;
        position: relative;
        width: 100%;
    }
    nav ul{
        display: flex;
        gap: 1.25rem;
        list-style: none;
    }
    .link{
        text-decoration: none;
        padding: 0.5rem 0.75rem;
        font-size: 17px;
        font-weight: 600;
        color: #fefefe;
        position: relative;
        transition: color 0.25s;
        
    }
    
    .link:hover{
        color: black;
    }
    .link::after{
        position: absolute;
        content: "";
        inset: 0;
        background-color: #fefefe;
        scale: 1 0;
        z-index: -1;
        transition: 0.45s;
        border-radius:10px ;
    }
    .link:hover::after{
        scale: 1 1;
    }
    
    #d1{
        float: left;
    
    }
    
    
    
    
}
