body {
    font-family: Arial, sans-serif;
    background-color: #f4f4f441;
    margin: 0;
    padding: 0;
}


.container {
    width: 60%;
    margin: 0 auto;
    background: #07070700;
    padding: 20px;
    box-shadow: 0px 0px 10px 0px #51e3ee;
    margin-top: 50px;
}
img{
    width: 40px;
    border-radius: 6px;
}

h1, h2,h3 {
    color: #262929a8;
}
h1{
    text-align: center;
    border-bottom: 3px solid rgb(112, 195, 216);
    border-radius: 10px;
}

label {
    display: block;
    margin-top: 10px;
}

input[type="text"],
input[type="email"],
input[type="url"],
input[type="number"],
textarea {
    width: 100%;
    padding: 10px;
    margin-top: 5px;
    margin-bottom: 20px;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-shadow: aqua;
}

button {
    display: inline-block;
    padding: 10px 20px;
    font-size: 16px;
    cursor: pointer;
    color: #fff;
    background-color: #007BFF;
    border: none;
    border-radius: 4px;
}

button:hover {
    background-color: #69aaf0;
}