*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
	margin-left:2px;
}
body{
	font-family: 'Poppins', sans-serif;
	line-height: 1.7;
    background-size: cover;
    background-image: url("back.jpg");
    overflow: scroll;
    background-repeat: no-repeat;
}
aside img {
	margin-left: 30%;
    margin-top: -40%;
    left: 0;
	height:150px;
	width:150px;
}
html, body {
    height: 100%;
    display: flex;
    flex-direction: column;
}
.content {
    flex: 1;
    display: flex;
    flex-direction:column;
    justify-content: center; /* Centre verticalement */
    align-items: flex-start; /* Garde l'image à gauche */
    padding: 20px;
  
}


.content span {
    color: aqua; /* Applique la couleur aqua au texte "Bac" */
    font-weight: bold; /* Optionnel : rend le texte plus visible */
}
#eee , #zzz {
    margin-top: -1.5%;
}

p{
    color: aqua;
}
#eee{
    color: hsl(332, 96%, 51%);
    font-size: 14px;
    margin-left: 22%;
    position: absolute;
    padding-top:20px;

}
#zzz{
    margin-left: 21%;
    font-size: 18px;
    position: absolute;
    padding-top:20px;

}
@media (max-width: 600px) {
    header {
        padding: 15px;
    }

    .content {
        padding: 10px;
    }

    footer {
        font-size: 14px;
    }
}
@media (min-width: 601px) and (max-width: 1024px) {
    .content {
        padding: 15px;
    }
}
   
header{
	height:60px;
    color: aqua;
    text-align: center;
    border-bottom: 3px solid hsl(332, 96%, 51%);
    border-radius: 15%;
    font-size: 25px;
}
header span{
    color: hsl(332, 96%, 51%) ;
}

h1{
    font-size: 25px;
}
span{
     font-size: 20px;
}
h1 , span li{
    list-style: none;
}
#d1 span , #d1 ul{
    font-size: 15px;

}
div ul , div li{
    font-size: 15px;
}

footer {
    background: #222;
    color: aqua;
    text-align: center;
    padding: 10px;
    position: fixed;
    bottom: 0;
    left: 0;
    width: 100%;
    background-color: hsl(332, 96%, 51%);
}
::-webkit-scrollbar {
    width: 10px;
}
::-webkit-scrollbar-track {
    background: #f1f1f1;
}
::-webkit-scrollbar-thumb {
    background: #888;
}
::-webkit-scrollbar-thumb:hover {
    background: #555;
}

#p1{
  padding-top: 20px;
  color: #fefefe;
  font-size: 25px;
  font-family: Arial, Helvetica, sans-serif;
}



nav{
    max-width:600px;
    display: flex;
    border-bottom: 2px solid rgb(11, 226, 255);
    border-radius: 15%;
    position: relative;
    width: 100%;
	
}
nav ul{
	margin-top:2%;
    display: flex;
    list-style: none;
	
}

.link{
    text-decoration: none;
    padding: 0.2rem 0.3rem;
    font-size: 11px;
    font-weight: 600;
    color: #fefefe;
    position: relative;
    transition: color 0.25s;
    
}

.link:hover{
    color: black;
}
.link::after{
    position: absolute;
    content: "";
    inset: 0;
    background-color: #fefefe;
    scale: 1 0;
    z-index: -1;
    transition: 0.45s;
    border-radius:15% ;
}
.link:hover::after{
    scale: 1 1;
}
#d1{
    float: left;

}
*{
	max-width: 600px;
}


