@import url('https://fonts.googleapis.com/css?family=Poppins:400,500,600,700,800,900');
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Raleway', sans-serif;
}
body{
	font-family: 'Poppins', sans-serif;
	font-weight: 300;
	line-height: 1.7;
    overflow: hidden;
    height: 100vh;
    background: linear-gradient(rgba(34, 34, 34, 0.829),#333),url(cinema-realistic-poster-with-illuminated-bucket-popcorn-drink-3d-glasses-reel-tickets-blue-background-with-tapes-vector-illustration_1284-77070.avif);
    background-size:cover ;
    
}
::-webkit-scrollbar {
width: 10px;
}
::-webkit-scrollbar-track {
  background: #f1f1f1; 
}
::-webkit-scrollbar-thumb {
  background: #888; 
}
::-webkit-scrollbar-thumb:hover {
  background: #555; 
}
header{
    margin: 7px;
    text-align: center;
    color: #76c0f1;
    border-radius: 10px;
    border-bottom: 3px solid #76daf8;
    font-size: 50px;
}
html{
    scroll-padding-top: 9px;
    scroll-behavior: smooth;
    
}
section{
    width: 100%;
}
nav {
    display: flex;
    justify-content: center;

}

nav a {
    color: rgba(87, 183, 238, 0.829);
    padding: 14px 20px;
    text-decoration: none;
    text-align: center;
}

nav a:hover {
    background-color: #3d9ddd2c;
    border-radius: 10px;
    
}
